extends ../layout
block extraHeader
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDgrScUf5b4KL3hqBzkhluD31kOg-y6ug4')
  script(type='text/javascript', src='/javascripts/map.js')
  link(href='/stylesheets/map.css', rel='stylesheet', type='text/css', media='all')
block content
  .container-fluid
    include  ../templates/nav
    .row
      .col-md-3
      .col-md-6
        if error != undefined
          .alert.alert-danger.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            p= error
        if info != undefined
          .alert.alert-success.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            p= info
        form#get-address(role="form" action='#' method='post')
        .form-group#address-group
          label.control-label.white-element(for="address") Indique la dirección o selececione el POI en el mapa:
            span.required-element &nbsp;*
          input#address.form-control(type="text", name='address', required="true", aria-describedby='helpBlockAddress')
          #map-canvas
        .form-actions
          button.btn.btn-primary(onclick='searchAddress();') Obtener latitud y longitud
        form#create-poi(role="form" action='http://tfg1617maps.zapto.org:8080/crearpoi', method='post', enctype='multipart/form-data')
          .form-group                 
            input#id-mapa.form-control.hide-element(type="text", value=id, readonly='', name='id_mapa')
          .form-group                 
            input#latitud-mapa.form-control.hide-element(type="text", value=latitud, readonly='', name='latitud_mapa')
          .form-group                 
            input#longitud-mapa.form-control.hide-element(type="text", value=longitud, readonly='', name='longitud_mapa')
          .form-group#titulo-group
            label.control-label.white-element(for="titulo") Título:
              span.required-element &nbsp;*
            input#titulo.form-control(type="text", name='titulo', required='true', aria-describedby='helpBlockTitulo')
            span#helpBlockTitulo.help-block(style="display: none;")
          .form-group#latitud-group
            label.control-label.white-element(for="latitud") Latitud:
              span.required-element &nbsp;*
            input#latitud.form-control(type="text", name='latitud', required="true", aria-describedby='helpBlockLatitud' readonly='')
            span#helpBlockLatitud.help-block(style="display: none;")
          .form-group#longitud-group
            label.control-label.white-element(for="longitud") Longitud:
              span.required-element &nbsp;*
            input#longitud.form-control(type="text", name='longitud', required="true", aria-describedby='helpBlockLongitud' readonly='')
            span#helpBlockLongitud.help-block(style="display: none;")
          .form-group#completeAddress-group
            label.control-label.white-element(for="completeAddress") Dirección:
              span.required-element &nbsp;*
            input#completeAddress.form-control(type="text", name='direccion', required="true", aria-describedby='helpBlockCompleteAddress' readonly='')
            span#helpBlockCompleteAddress.help-block(style="display: none;")
          .form-group
            label.white-element(for="categoria") Categoría:
              span.required-element &nbsp;*
            select.selectpicker#categoria.form-control(name="categoria")
              option(value="Acuario") Acuario
              option(value="Ayuntamiento") Ayuntamiento
              option(value="Bar") Bar
              option(value="Biblioteca") Biblioteca
              option(value="Cafeteria") Cafeteria
              option(value="Catedral") Catedral
              option(value="Convento") Convento
              option(value="Escultura") Escultura
              option(value="Estacion") Estación
              option(value="Iglesia") Iglesia
              option(value="Mercado") Mercado
              option(value="Monumento") Monumento
              option(value="Museo") Museo
              option(value="Parque") Parque
              option(value="Playa") Playa
              option(value="Teatro") Teatro
              option(value="Universidad") Universidad
              option(value="Zoo") Zoo
          .form-group#descripcion-group
            label.control-label.white-element(for="descripcion") Descripción:
              span.required-element &nbsp;*
            textarea#descripcion.form-control(rows="5", name='descripcion', required="true", aria-describedby='helpBlockDescripcion')
            span#helpBlockDescripcion.help-block(style="display: none;")
          .form-group
            label.white-element(for="enlace") Enlace:
            input#enlace.form-control(type="text", name='enlace')
          .form-group#ar-group
            label.control-label.white-element(for="arselect") Experiencia realidad aumentada: 
              span.required-element &nbsp;*
            .radio
              label.white-element
                input(type='radio', name='optradio', value='si')
                | Si
              .radio
                label.white-element
                  input(type='radio', name='optradio', value='no')
                  | No
            span#helpBlockAr.help-block(style="display: none;")
          #arexperience.hide-element
            .form-group#distancia-group
              label.control-label.white-element(for="distancia") Distancia maxiama para visualizar la realidad aumentada en kilometros:
                span.required-element &nbsp;*
              input#distancia.form-control(type="text", name='distancia', required='true', aria-describedby='helpBlockDistancia')
              span#helpBlockDistancia.help-block(style="display: none;")
            h3 Elemento realidad aumentada 1
              span.required-element &nbsp;*
            .form-group#arelement1-group
              label.control-label.white-element(for="optradio_element1") Tipo de archivo: 
                span.required-element &nbsp;*&nbsp;
                label.radio-inline
                  input(type='radio', name='optradio_element1', value='imagen')
                  | Imagen
                label.radio-inline
                  input(type='radio', name='optradio_element1', value='video')
                  | Video
              span#helpBlockArelement1.help-block(style="display: none;")
            .form-group#filearelement1-group
              label.control-label.white-element(for="filetoupload1") Archivo realidad aumentada:
                span.required-element &nbsp;*
              input#file1.filestyle(type="file", name="filetoupload1", data-buttonname="btn-primary", data-icon="false")
              span#helpBlockArfile1.help-block(style="display: none;")
            #transparentelement1.hide-element
              .form-group#transparent1-group
                input(type='checkbox', name='transparent1', value='yes')
                | &nbsp;
                label.control-label.white-element(for="transparent1") Video transparente
            .form-group#tamanio1-group
              label.control-label.white-element(for="tamanio1") Tamaño  en sdu:
                span.required-element &nbsp;*
              input#tamanio1.form-control(type="text", name='tamanio1', required='true', aria-describedby='helpBlockTamanio1')
              span#helpBlockTamanio1.help-block(style="display: none;")
            .form-group#altura1-group
              label.control-label.white-element(for="altura1") Altura en metros:
              input#altura1.form-control(type="text", name='altura1')
              
            h3 Elemento realidad aumentada 2
            .form-group#arelement2-group
              label.control-label.white-element(for="optradio_element2") Tipo de archivo: 
                span.required-element &nbsp;*&nbsp;
                label.radio-inline
                  input(type='radio', name='optradio_element2', value='imagen')
                  | Imagen
                label.radio-inline
                  input(type='radio', name='optradio_element2', value='video')
                  | Video
              span#helpBlockArelement2.help-block(style="display: none;")
            .form-group#filearelement2-group
              label.control-label.white-element(for="filetoupload2") Archivo realidad aumentada:
                span.required-element &nbsp;*
              input#file2.filestyle(type="file", name="filetoupload2", data-buttonname="btn-primary", data-icon="false")
              span#helpBlockArfile2.help-block(style="display: none;")  
            #transparentelement2.hide-element
              .form-group#transparent2-group
                input(type='checkbox', name='transparent2', value='yes')
                | &nbsp;
                label.control-label.white-element(for="transparent2") Video transparente
            .form-group#positionelement2-group
              label.control-label.white-element(for="optradio_position2") Posicionamiento del elemento: 
                span.required-element &nbsp;*&nbsp;
                .radio
                  label
                    input(type='radio', name='optradio_position2', value='izquierda')
                    | Izquierda del usuario
                .radio
                  label
                    input(type='radio', name='optradio_position2', value='derecha')
                    | Derecha del usuario
                .radio
                  label
                    input(type='radio', name='optradio_position2', value='atras')
                    | Detras del usuario  
              span#helpBlockPositionelement2.help-block(style="display: none;")
            .form-group#tamanio2-group
              label.control-label.white-element(for="tamanio2") Tamaño  en sdu:
                span.required-element &nbsp;*
              input#tamanio2.form-control(type="text", name='tamanio2', required='true', aria-describedby='helpBlockTamanio2')
              span#helpBlockTamanio2.help-block(style="display: none;")
            .form-group#altura2-group
              label.control-label.white-element(for="altura2") Altura en metros:
              input#altura2.form-control(type="text", name='altura2')
              
            h3 Elemento realidad aumentada 3
            .form-group#arelement3-group
              label.control-label.white-element(for="optradio_element3") Tipo de archivo: 
                span.required-element &nbsp;*&nbsp;
                label.radio-inline
                  input(type='radio', name='optradio_element3', value='imagen')
                  | Imagen
                label.radio-inline
                  input(type='radio', name='optradio_element3', value='video')
                  | Video
              span#helpBlockArelement3.help-block(style="display: none;")
            .form-group#filearelement3-group
              label.control-label.white-element(for="filetoupload3") Archivo realidad aumentada:
                span.required-element &nbsp;*
              input#file3.filestyle(type="file", name="filetoupload3", data-buttonname="btn-primary", data-icon="false")
              span#helpBlockArfile3.help-block(style="display: none;")
            #transparentelement3.hide-element
              .form-group#transparent3-group
                input(type='checkbox', name='transparent3', value='yes')
                | &nbsp;
                label.control-label.white-element(for="transparent3") Video transparente
            .form-group#tamanio3-group
              label.control-label.white-element(for="tamanio3") Tamaño  en sdu:
                span.required-element &nbsp;*
              input#tamanio3.form-control(type="text", name='tamanio3', required='true', aria-describedby='helpBlockTamanio3')
              span#helpBlockTamanio3.help-block(style="display: none;")
            .form-group#positionelement3-group
              label.control-label.white-element(for="optradio_position3") Posicionamiento del elemento: 
                span.required-element &nbsp;*&nbsp;
                .radio
                  label
                    input(type='radio', name='optradio_position3', value='izquierda')
                    | Izquierda del usuario
                .radio
                  label
                    input(type='radio', name='optradio_position3', value='derecha')
                    | Derecha del usuario
                .radio
                  label
                    input(type='radio', name='optradio_position3', value='atras')
                    | Detras del usuario
            .form-group#altura3-group
              label.control-label.white-element(for="altura3") Altura en metros:
              input#altura3.form-control(type="text", name='altura3')       
          .form-actions
            button.btn.btn-primary(type="submit",id='btn-crearPOI') CREAR POI
          div.final-separation
      .col-md-3
    script(src='/javascripts/validate.js')  
    script(src='/javascripts/poi-functions.js')
